body {
	font-family: sans-serif;
	background-color: #f8f4ff;	
}
h1 {
	text-align: center;
}
main {
	max-width: 64em;
	margin: auto;
	padding: 1em;
}
#controlPanel {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #e4d4ff;
	border: 0.2em solid #c19eff;
	margin: 1em;
	padding: 0.25em;
	border-radius: 1em;
}

img {
	max-width: 100%;
}