body {
    --m: 1;
    --s: 1;
    --w: calc(352px * var(--m));
    --ε: 0.1px;
    --w-ε: calc(var(--w) - var(--ε));
    perspective: 600px;
    image-rendering: pixelated;
}
* {
    transform-style: preserve-3d;
    transition: all 1s
}
brick-house {
    display: block;
    position: relative;
    rotate: 1 1 1 5deg;
    top: min(200px, 20vh);
    transition: all 1s;
    width: var(--w);
    margin-left: auto; margin-right: auto;
    animation-name: doner; animation-duration:16s; animation-timing-function: linear;
    animation-iteration-count: infinite;
}
body:has(#b:checked) brick-house { animation-name: none }
main { transition: rotate 1s; }
body:has(#c:checked) {
    main { rotate: -1 -1 -1 40deg; }
    input {
        margin: 1em;
        scale: 2;
    }
}
body:has(#d:checked) { --s: 0; }
body:has(#e:checked) { perspective-origin: right; }
body:has(#f:checked) { perspective: var(--w); }
body:has(#g:checked) {
    --m: 2;
    input {
        scale: 1.5;
        rotate: 390deg;
    }
}
brick-wall {
    display: block;
    background-color: rgb(0,0,0,25%);
    width: var(--w);
    position: absolute;
    line-height: 0;
    &:nth-child(1) { transform: translateZ(calc(var(--w-ε) / 2)); }
    &:nth-child(2) { transform: rotateY(0.25turn) translateZ(calc(var(--w-ε) / 2)); }
    &:nth-child(3) { transform: rotateY(0.5turn) translateZ(calc(var(--w-ε) / 2)); }
    &:nth-child(4) { transform: rotateY(0.75turn) translateZ(calc(var(--w-ε) / 2)); }
    overflow: clip;
}
brick-course {
    display: flex;
    position: relative;
    &:nth-child(2n) { right: calc(var(--m) * (22px + (1 - var(--s)) * 66px)); }
    &:nth-child(2n+1) { right: calc(66px * var(--m) * var(--s)); }
    & > * {
        min-width: calc(88px * var(--m));
    }
}
img {
    width: calc(88px * var(--m));
    height: calc(31px * var(--m));
}

@keyframes doner {
    0% {rotate: y 0turn;}
    to {rotate: y 1turn;}
}
